/* Conteneur principal */
.search-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(20, 20, 20, 0.8);
  border-radius: 8px;
}

/* Conteneur de la sélection multiple */
.select-container {
  position: relative;
  width: 160px;
  cursor: pointer;
  text-align: center;
}

/* Zone affichant les types sélectionnés */
.selected-types {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  padding: 10px;
  background: #222;
  border-radius: 5px;
  border: 2px solid #777;
  min-height: 50px;
  justify-content: center;
}

.placeholder-text {
  color: #999;
  font-size: 12px;
}

/* Icônes des types sélectionnés */
.selected-type-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  transition: transform 0.2s;
}

.selected-type-icon:hover {
  transform: scale(1.1);
}

/* Liste des images des types */
.custom-dropdown {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(20, 20, 20, 0.9);
  border-radius: 5px;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  width: 200px;
  z-index: 10;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Style des images des types */
.dropdown-item {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

/* Effet de survol */
.dropdown-item:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.2);
}

/* Styles pour les types sélectionnés dans le menu */
.dropdown-item.selected {
  background-color: rgba(255, 255, 255, 0.3);
}
